@model IEnumerable<EventEntities.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddRegistration")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateRegistration", new { registrationId=item.RegistrationID, eventId=item.EventID }) |
            @Html.ActionLink("Delete", "DeleteRegistration", new { registrationId=item.RegistrationID })
        </td>
    </tr>
}

</table>
